<p-table [value]="students" selectionMode="single" [(selection)]="selectedStudent" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Grade</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr>
      <td>{{student.id}}</td>
      <td>{{student.first_name}}</td>
      <td>{{student.last_name}}</td>
      <td>{{student.age}}</td>
      <td>{{student.grade}}</td>
    </tr>
  </ng-template>
</p-table>

<button (click)="showDialogToAdd()" type="button">Add</button>
<button (click)="save()" type="button" *ngIf="displayDialog">Save</button>
<button (click)="delete()" type="button" *ngIf="displayDialog">Delete</button>

<p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{width: '300px'}" [closable]="false" *ngIf="displayDialog">
  <p-inputText [(ngModel)]="student.first_name" placeholder="First Name"></p-inputText>
  <p-inputText [(ngModel)]="student.last_name" placeholder="Last Name"></p-inputText>
  <p-inputText [(ngModel)]="student.age" placeholder="Age"></p-inputText>
  <p-inputText [(ngModel)]="student.grade" placeholder="Grade"></p-inputText>
</p-dialog>
