<p-table [value]="students" selectionMode="single" [(selection)]="selectedStudent" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Grade</th>
      <th>Address</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-student>
    <tr [pEditableRow]="student">
      <td *ngIf="!newStudent || student !== this.student">{{student.id}}</td>
      <td *ngIf="!newStudent || student !== this.student">{{student.first_name}}</td>
      <td *ngIf="newStudent && student === this.student">
        <p-inputText [(ngModel)]="student.first_name" required></p-inputText>
      </td>
      <td *ngIf="!newStudent || student !== this.student">{{student.last_name}}</td>
      <td *ngIf="newStudent && student === this.student">
        <p-inputText [(ngModel)]="student.last_name" required></p-inputText>
      </td>
      <td *ngIf="!newStudent || student !== this.student">{{student.age}}</td>
      <td *ngIf="newStudent && student === this.student">
        <p-inputText [(ngModel)]="student.age" required></p-inputText>
      </td>
      <td *ngIf="!newStudent || student !== this.student">{{student.grade}}</td>
      <td *ngIf="newStudent && student === this.student">
        <p-inputText [(ngModel)]="student.grade" required></p-inputText>
      </td>
      <td *ngIf="!newStudent || student !== this.student">{{student.address}}</td>
      <td *ngIf="newStudent && student === this.student">
        <p-inputText [(ngModel)]="student.address" required></p-inputText>
      </td>
    </tr>
  </ng-template>
</p-table>

<button (click)="addNew()" type="button">Add</button>
<button (click)="save()" type="button" *ngIf="newStudent">Save</button>
<button (click)="delete()" type="button" *ngIf="!newStudent && displayDialog">Delete</button>
