angular-front/node_modules/*
angular-front/node_modules
svelte-front/node_modules/*
svelte-front/node_modules
.venv
.env
animatohtml/*
animatohtml

# Byte-compiled / optimized / DLL files
__pycache__/
  *.py[cod]
*$py.class
**/__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

#npm tests
/node_modules/

