[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
petl = "*"
faker = "*"
django-cors-headers = "*"
rando = "*"
djangorestframework-jwt = "*"
sqlalchemy = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.10"
