[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
petl = "*"
faker = "*"
django-cors-headers = "*"
python-ldap = "*"
rando = "*"

[dev-packages]

[requires]
python_version = "3.6"
